
  .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
        padding: 16px 24px;
      }

      .header-wrapper > .menu {
        display: flex;
      }

      .header-wrapper > .menu > button {
        background-color: white;
        padding: 8px 16px;
        border: 1px solid gray;
        cursor: pointer;
        transition: 0.3s background-color ease-out;
      }

      .header-wrapper > .menu > button:hover {
        background-color: gainsboro;
      }

      .header-wrapper > .menu > button:first-child {
        border-radius: 4px 0 0 4px;
      }

      .header-wrapper > .menu > button:last-child {
        border-radius: 0 4px 4px 0;
      }

      .header-wrapper > .logo {
        width: auto;
        height: 40px;
      }

      .main-content {
        padding: 24px;
      }

      .main-content .form-section {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
      }

      .main-content .form-section form,
      .main-content .form-section div {
        width: 100%;
      }

      .img-slideshow {
        width: 100%;
      }

      @media only screen and (max-width: 600px) {
        .header-wrapper {
          flex-direction: column;
        }

        .menu {
          width: 100%;
          flex-direction: column;
        }

        .logo {
          margin-bottom: 14px;
        }
      }



/*---------------*/

  .profile-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
  }
  
  .profile-image {
    flex-basis: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .profile-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
  }
  
  .profile-details {
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .profile-details h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .profile-details h3 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .profile-details p {
    font-size: 18px;
    line-height: 1.5;
    color: #444;
    margin-bottom: 20px;
  }
  

  @media only screen and (max-width: 600px) {
    .header-wrapper {
      flex-direction: column;
    }

    .menu {
      width: 100%;
      flex-direction: column;
    }

    .logo {
      margin-bottom: 14px;
    }

    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /* Media Queries */
  @media screen and (min-width: 600px) {

    .profile-section {
      flex-wrap: nowrap;
    }
    
    .profile-image {
      flex-basis: 40%;
      margin-right: 40px;
      margin-bottom: 0;
      text-align: left;
    }
  
    .profile-details {
      flex-basis: 60%;
      max-width: 60%;
    }
  }

  
.footer{
    /* background-color :#f1f1f1; */
    text-align : center;
    padding : 10px;
    margin-top : 15px;
    font-size : 14px;
    align-content: end;
  }
